@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins";
  background: #333;
  color: #fff;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.generateBtn{
  margin: 3% 3%;
  padding: 1% 5%;
  width: calc();
  border: none;
  border-radius: 15px;
  color: #fff;
  background: #3c5aa6;
}

.cardContr{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
  max-width: 30%;
  aspect-ratio: 1/1.2;
  overflow: hidden;
  background: #525252;
  border-radius: 20px;
  border: 1px solid #ffffff14;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  /* margin: 10px; */
  text-align: center;
}

.card .prfPicContr{
  width: 75%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.card img{
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.card h2{
  margin-bottom: 10px;
}



.card table {
  width: 100%;
  text-align: start;
}

.card table .types, .card table .abilities{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 10px;
} 

.card table .types span, .card table .abilities span{
  font-size: 18px;
  background-color: #3c5aa6;
  padding: 2%;
  border-radius: 10px;
  color: #fff;
  margin: 1%;
}

@media screen and (max-width: 1024px){
  .card{
    aspect-ratio: 1/1.5;
  }
  .card table .types span, .card table .abilities span{
    font-size: 14px;
  }
}

.card table .abilities span{
  background-color: #ffcb05;
}